*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .p1 {
    float: left;
  }
  
  .p1 {
    display: block;
    padding: 8px;
    background-color: #defbe002;
  }

*{
  background-color: blanchedalmond;
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
}